<div>
    <div [formGroup]="inputForm" class="form">
        <mat-form-field appearance="outline">
            <mat-label>Principal</mat-label>
            <input 
                matInput 
                formControlName="principalControl">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Contribution</mat-label>
            <input 
                matInput
                formControlName="contributionControl">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Growth Rate</mat-label>
            <input 
                matInput
                formControlName="growthRateControl">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Dividend Yield</mat-label>
            <input 
                matInput
                formControlName="dividendYieldControl">
        </mat-form-field>
        <button mat-button>submit</button>
    </div>

    <div>{{ inputForm.controls['principalControl'].value }}</div>
    <div>{{ inputForm.controls['contributionControl'].value }}</div>
    <div>{{ inputForm.controls['growthRateControl'].value }}</div>
    <div>{{ inputForm.controls['dividendYieldControl'].value }}</div>
</div>  