<div>
    <div [formGroup]="inputForm" class="form">
        <mat-form-field appearance="outline">
            <mat-label>Starting Amount</mat-label>
            <input 
                matInput 
                formControlName="startingAmountControl">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Additional Contribution</mat-label>
            <input 
                matInput
                formControlName="additionalContributionControl">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Return Rate</mat-label>
            <input 
                matInput
                formControlName="returnRateControl">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Time Period</mat-label>
            <input 
                matInput
                formControlName="timePeriodControl">
        </mat-form-field>
        <button mat-button>submit</button>
    </div>

    <div>{{ inputForm.controls['startingAmountControl'].value }}</div>
    <div>{{ inputForm.controls['additionalContributionControl'].value }}</div>
    <div>{{ inputForm.controls['returnRateControl'].value }}</div>
    <div>{{ inputForm.controls['timePeriodControl'].value }}</div>
    <div>asd</div>
</div>  