<div class="vidsrc-page-grid">
	<div class="search-header">
		<div class="search-grid">
			<div class="search-bar">
				<mat-form-field subscriptSizing="dynamic">
					<input
						matInput
						placeholder="Search Movie/TV"
						type="search"
						(keydown.enter)="searchTMDBMovieShow(searchInput.value)"
						#searchInput
					/>
					<button
						matSuffix
						mat-fab
						(click)="searchTMDBMovieShow(searchInput.value)"
					>
						<mat-icon>search</mat-icon>
					</button>
				</mat-form-field>
			</div>
		</div>
	</div>

	<router-outlet></router-outlet>
	@if (showResults) {
	<div class="content-grid">
		@if(searchResult.results) {
		<div class="content-monitor">
			@for (mediaItem of searchResult.results; track mediaItem) {
			<div class="content-item-monitor" (click)="loadVideo(mediaItem)">
				<div class="item-poster">
					<img [src]="mediaItem.poster_path" />
				</div>
				<div class="item-info">
					<h5
						[matTooltip]="mediaItem.title"
						matTooltipPosition="below"
						matTooltipShowDelay="300"
						matTooltipClass="mat-tooltip"
					>
						{{ mediaItem.title }}
					</h5>
					<p>{{ mediaItem.release_date }} | {{ mediaItem.media_type }}</p>
					<p
						class="description"
						[matTooltip]="mediaItem.overview"
						matTooltipPosition="below"
						matTooltipShowDelay="500"
					>
						{{ mediaItem.overview }}
					</p>
				</div>
			</div>
			}
		</div>
		<div class="content-phone">
			@for (mediaItem of searchResult.results; track mediaItem) {
			<div class="content-item-phone" (click)="loadVideo(mediaItem)">
				<div class="item-poster-phone">
					<img [src]="mediaItem.poster_path" />
				</div>
				<div class="item-info-phone">
					<h5>{{ mediaItem.title }}</h5>
					<p>{{ mediaItem.release_date }} | {{ mediaItem.media_type }}</p>
				</div>
			</div>
			}
		</div>
		} @else if (isLoadingSearch) {
		<div>... Loading</div>
		} @else {
		<div>No Results {{ ":(" }}</div>
		}
	</div>
	}
	@if (showScrollTop) {
		<div class="scroll-top">
			<button mat-icon-button (click)="scrollTop()">
				<mat-icon>arrow_upward</mat-icon>
			</button>
		</div>
	}
</div>
