<div class="vidsrc-page-grid">
	<div class="search-header">
		<div class="search-grid">
			<div class="search-bar">
				<mat-form-field subscriptSizing="dynamic">
					<input
						matInput
						placeholder="Search Movie/TV"
						type="search"
						(keydown.enter)="searchTMDBMovieShow(searchInput.value); blur(searchInput)"
						#searchInput
					/>
					<button
						matSuffix
						mat-fab
						(click)="searchTMDBMovieShow(searchInput.value); blur(searchInput)"
					>
						<mat-icon>search</mat-icon>
					</button>
				</mat-form-field>
			</div>
		</div>
	</div>

	<router-outlet></router-outlet>
	@if (showResults) {
	<div class="content-grid">
		@if(searchResult.results.length > 0) {
		<div class="content-items">
			@for (mediaItem of searchResult.results; track mediaItem) {
			<div
				class="item-poster"
				[matTooltip]="mediaItem.title"
				matTooltipShowDelay="500"
				matTooltipTouchGestures="off"
				(click)="loadVideo(mediaItem)"
			>
				<div class="poster-image">
					<img [src]="mediaItem.poster_path" />
				</div>
				<div class="poster-description">
					<h6>{{ mediaItem.title }}</h6>
					<p>{{ mediaItem.release_date }} | {{ mediaItem.media_type }}</p>
					<p>{{ tmdbService.genreListToString(mediaItem) }}</p>
				</div>
			</div>
			}
		</div>
		} @else if (isLoadingSearch) {
		<div>... Loading</div>
		} @else {
		<div class="no-result">
			<img src="/assets/point_and_laugh.jpg" />
			<div>NO RESULTS HAHAHA</div>
		</div>
		}
	</div>
	}
</div>
