@use '@angular/material' as mat;

.vidsrc-page-grid {
    display: grid;
    justify-items: center;
    row-gap: 10px;
}

.scroll-top {
    position: fixed;
    z-index: 90;
    top: 90%;
    background-color: white;
    border-radius: 50%;
    opacity: 85%;
}

.search-header {
    display: grid;
    z-index: 90;
    height: 78px;
    width: 100%;
}

.search-grid {
    display: grid;
    position: fixed;
    align-items: center;
    justify-items: center;
    background-color: black;
    height: inherit;
    width: inherit;
}

.search-bar {
    display: grid;
    grid-auto-flow: column;
    width: 90%;

    button {
        @include mat.fab-overrides((
      container-shape: 4px,
    ));
    }
}

.content-grid {
    display: grid;
    justify-items: center;
    align-items: center;
    width: 95%;
}

.content-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4px;
}

.item-poster {
    display: grid;
	aspect-ratio: 10/15;
    overflow: hidden;
    background-color: black;
    align-items: center;

     img {
        display: grid;
        width: 100%;
        max-height: 100%;

        &:hover {
            cursor: pointer;
            opacity: 70%;
        }
        &:active {
            animation: .1s click;
        }
    }
}

@keyframes click {
    from {
        scale: 1;
    }
    to {
        scale: 0.9;
    }
}


@media screen and (min-width: 1201px) {
    .search-bar {
        width: 50%;
    }
    .content-items {
        grid-template-columns: repeat(7, 1fr);
    }
}

@media screen and (max-width: 1200px) {
    .search-bar {
        width: 50%;
    }
    .content-items {
        grid-template-columns: repeat(6, 1fr);
    }

}

@media screen and (max-width: 1024px) {
    .search-bar {
        width: 50%;
    }
    .content-items {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media screen and (max-width: 768px) {
    .content-items {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (max-width: 480px) {
    .content-items {
        grid-template-columns: repeat(3, 1fr);
    }
}
