iframe {
    border: 1em outset #ddd;
    width: 100%;
    aspect-ratio: 16/9;
}

button {
    border-radius: 10px;
    height: 100%;
}

.vidsrc-page-grid {
    display: grid;
    justify-items: center;
    row-gap: 30px;
}

.search-header {
    display: grid;
    z-index: 90;
    height: 78px;
    width: 100%;
}

.search-grid {
    display: grid;
    position: fixed;
    align-items: center;
    justify-items: center;
    background-color: black;
    height: inherit;
    width: inherit;
}

.search-bar {
    display: grid;
    grid-auto-flow: column;

    mat-form-field {
        width: 40vw;
    }
}

.content {
    display: grid;
    justify-items: center;
    width: 90%;
    overflow: auto;
}

.content-grid {
    display: grid;
    justify-items: center;
    align-items: center;
    // height: 80vh;
}

.content-list {
    display: grid;
    height: inherit;
    overflow: auto;
    color: white;
    border-radius: 10px;
    row-gap: 2px;
}

.content-list-item {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 30% auto;
    height: 13em;
    background-color: black;
    
    &:hover {
        cursor: pointer;
        opacity: 70%;
    }
    &:active {
        animation: .1s click;
    }
}

.item-poster {
    display: grid;
    justify-items: center;
    align-items: center;
    height: inherit;

     img {
        display: grid;
        height: inherit;
        max-width: 100%;
        box-sizing: border-box;
        border: 1em groove #CC9901;
    }
}

.item-info {
    display: grid;
    overflow: hidden;
    grid-template-rows: 3em 3em auto;
    margin: 0px 10px;

    h5 {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.description {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    line-clamp: 4;
    -webkit-box-orient: vertical;
    line-height: 1.5em;
    height: 6em;
    overflow: hidden;
}

.video-player-grid {
    display: grid;
    align-items: center;
    justify-items: center;
    row-gap: 5px;
}

.seasons-episodes {
    display: grid;
    grid-auto-flow: column;
}

.episode-metadata {
    display: grid;
    
}

@keyframes click {
    from {
        scale: 1;
    }
    to {
        scale: 0.9;
    }
}