@use '@angular/material' as mat;

.vidsrc-page-grid {
    display: grid;
    justify-items: center;
    row-gap: 10px;
}

.scroll-top {
    position: fixed;
    z-index: 90;
    top: 90%;
    background-color: white;
    border-radius: 50%;
    opacity: 85%;
}

.search-header {
    display: grid;
    z-index: 90;
    height: 78px;
    width: 100%;
}

.search-grid {
    display: grid;
    position: fixed;
    align-items: center;
    justify-items: center;
    background-color: black;
    height: inherit;
    width: inherit;
}

.search-bar {
    display: grid;
    grid-auto-flow: column;
    width: 50%;

    button {
        @include mat.fab-overrides((
      container-shape: 4px,
    ));
    }
}

.content-grid {
    display: grid;
    justify-items: center;
    align-items: center;
    width: 90%;
}

.content-monitor {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    color: white;
    row-gap: 2px;
    column-gap: 2px;
}

.content-item-monitor {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 30% auto;
    height: 13em;
    background-color: black;
    
    &:hover {
        cursor: pointer;
        opacity: 70%;
    }
    &:active {
        animation: .1s click;
    }
}

.item-poster {
    display: contents;
	aspect-ratio: 15/10;

     img {
        max-width: 100%;
        align-self: center;
    }
}

.item-info {
    display: grid;
    overflow: hidden;
    grid-template-rows: 3em 3em auto;
    margin: 0px 10px;

    h5 {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.description {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    line-clamp: 4;
    -webkit-box-orient: vertical;
    line-height: 1.5em;
    height: 6em;
    overflow: hidden;
}

@keyframes click {
    from {
        scale: 1;
    }
    to {
        scale: 0.9;
    }
}




.content-phone {
    display: none;
}

@media screen and (max-width: 950px) {
    .content-monitor {
        display: none;
    }

    .search-bar {
        width: 90%;
    }

    .content {
        width: 95%;
    }

    .content-phone {
        display: grid;
        grid-template-columns: 50% 50%;
        row-gap: 2px;
        column-gap: 2px;

        .content-item-phone {
            display: grid;
            align-items: end;
            color: white;
            background-color: black;
            
            &:hover {
                cursor: pointer;
                opacity: 70%;
            }
            &:active {
                animation: .1s click;
            }
        }
        
        .item-poster-phone {
            display: grid;
            align-items: end;
        
             img {
                display: grid;
                width: 100%;
            }
        }
        
        .item-info-phone {
            display: grid;
            overflow: hidden;
            grid-template-rows: 3em 3em auto;
            margin: 0px 10px;
        
            h5 {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
}