<div class="calendar-grid">
	<button class="volume-button" mat-icon-button (click)="toggleVolume()">
		@if (isMuted) {
		<mat-icon>volume_off</mat-icon>
		} @else {
		<mat-icon>volume_up</mat-icon>
		}
	</button>

	@if (!isTodayChristmas) {
	<h1>Is it Christmas yet?</h1>
	<h2>Nope</h2>

	<h1>How many days till Christmas?</h1>
	<h2>{{ daysTillChristmas }} days</h2>
	} @else {
	<h1 id="christmas" class="christmas-message">Merry Christmas!</h1>
	}
</div>

<div class="snow">
	@for (snowflake of snowflakes; track snowflake) {
	<div class="snowflake"></div>
	}
</div>
