.video-player-grid {
	display: grid;
	justify-items: center;
	row-gap: 10px;
	width: 90vw;
	margin-bottom: 4em;
}

.seasons-episodes {
	display: grid;
	grid-auto-flow: column;
}

.episode-metadata {
	display: grid;
}

@media (orientation: landscape) {
	iframe,
	.no-result {
		border: 1em outset #ddd;
		height: 60vh;
		aspect-ratio: 15/10;
	}
}

@media (orientation: portrait) {
	iframe,
	.no-result {
		border: 1em outset #ddd;
		width: 80vw;
		aspect-ratio: 15/10;
	}
}
.no-result {
	display: grid;
	background-color: white;
	justify-items: center;
	align-items: center;
	align-content: center;
}

img {
	display: grid;
	max-width: 50%;
	max-height: 50%;
}

.loading {
	margin-top: 10vh;
}
