<div class="video-player-grid">
	<h5>
		{{ mediaItem.title }}
	</h5>

	@if (mediaURL != '') {
	<div><strong>Show overview:</strong> {{ mediaItem.overview }}</div>
	<iframe [src]="mediaURL" allowfullscreen="yes" scrolling="yes"></iframe>
	@if (mediaItem.media_type === EMediaType.TV) {
	<div class="seasons-episodes">
		<mat-form-field>
			<mat-label>Select a Season</mat-label>
			<mat-select [(value)]="mediaItem.season">
				@for (season of seasonsEpisodes.keys(); track season) {
				<mat-option [value]="season" (click)="changeSeason()">{{
					seasonsEpisodes.get(season)?.name
				}}</mat-option>
				}
			</mat-select>
		</mat-form-field>
		<mat-form-field>
			<mat-label>Select an Episode</mat-label>
			<mat-select [(value)]="mediaItem.episode">
				@for (episode of seasonsEpisodes.get(mediaItem.season!)?.episodes; track
				episode) {
				<mat-option [value]="episode.episode_number" (click)="changeEpisode()"
					>{{ episode.episode_number }}: {{ episode.name }}</mat-option
				>
				}
			</mat-select>
		</mat-form-field>
	</div>
	<div>
		<div><strong>Episode title:</strong> {{ mediaItem.episode_title }}</div>
		<div>
			<strong>Episode overview:</strong> {{ mediaItem.episode_overview }}
		</div>
	</div>
	} } @else if (isLoading) {
	<div class="loading">... Loading</div>
	} @else{
	<div class="no-result">
		<img src="/assets/no_television.jpg" />
		<div>Sorry, no video</div>
	</div>
	}
</div>
