<div class="vidsrc-page-grid">
    <div>
        <p>Instructions</p>
        <ol>
            <li>Go to <a href="https://www.imdb.com/" target=_blank>IMDB</a></li>
            <li>Search for your movie/show</li>
            <li>Get the title id from the URL (looks like <strong>tt0363771</strong>):</li>
            <ul>
                <li>example: https://www.imdb.com/title/<strong>tt0363771</strong>/?ref_=fn_all_ttl_1</li>
            </ul>
            <li>Copy that title id into search bar</li>
        </ol>
    </div>

    <div>
        <input type="search" #searchInput>
        <button (click)="searchMovieShow(searchInput.value)">Submit</button>
    </div>

    <div class="video-player-grid">
        <div>
            <p>Movies</p>
            <iframe [src]="movieURL" allowfullscreen></iframe>
        </div>
        <div>
            <p>Shows</p>
            <iframe [src]="showURL" allowfullscreen></iframe>
        </div>
    </div>
</div>

<!-- <iframe src="https://vidsrcme.vidsrc.icu/embed/movie?imdb=tt0108052&autoplay=1" allowfullscreen></iframe> -->
<!-- <iframe src="https://vidsrcme.vidsrc.icu/embed/movie?imdb=tt0363771&autoplay=1" allowfullscreen></iframe> -->



<!-- <iframe src="https://vidsrcme.vidsrc.icu/embed/tv?imdb=tt0417299&autoplay=1" allowfullscreen></iframe> -->
<!-- <iframe src="https://vidsrcme.vidsrc.icu/embed/tv?imdb=tt4508902&autoplay=1" allowfullscreen></iframe> -->