.vidsrc-page-grid {
    display: grid;
    justify-items: center;
    row-gap: 30px;
}

.video-player-grid {
    display: grid;
    grid-auto-flow: column;
}

iframe {
    border: 1em outset #ddd;
}

.search-item-grid {
    display: grid;
    row-gap: 10px;
}

.search-result-items {
    display: grid;
    grid-auto-flow: column;
    border: medium solid black;
    :hover {
        background-color: grey;
    }
}

.search-grid {
    display: grid;
    grid-auto-flow: column;
    grid-column: span 2;
}

img {
    height: 10em;
}