.vidsrc-page-grid {
    display: grid;
    justify-items: center;
    grid-auto-flow: column;
    grid-template-columns: 50% 50%;
    width: 100%;
    row-gap: 30px;
}

.search-grid {
    display: grid;
    justify-items: center;
    row-gap: 15px;
    width: 100%;
}

.input-grid {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    width: 80%;
}

.search-result-grid {
    display: grid;
    row-gap: 10px;
    overflow: auto;
    height: 25em;
    border: 1em outset #ddd;
}

.search-result-items {
    display: grid;
    grid-auto-flow: column;
    border: 1em solid black;
    :hover {
        background-color: grey;
    }
}

.video-player-grid {
    display: grid;
    align-items: center
}

iframe {
    border: 1em outset #ddd;
    margin: 0;
}

img {
    height: 10em;
}
button {
    border-radius: 10px;
    width: 50%;
    height: 100%;
}