iframe {
    border: 1em outset #ddd;
    height: 50vh;
    width: 80vh;
    aspect-ratio: auto;
}

button {
    border-radius: 10px;
    width: 20vh;
    height: 4em;
}

.vidsrc-page-grid {
    display: grid;
    justify-items: center;
    row-gap: 30px;
}

mat-form-field {
    width: 60vh;
}

.content {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: space-evenly;
    width: 100%;
}

.search-list {
    display: grid;
    overflow: auto;
    height: 60vh;
}

.search-list-item {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 25% 1fr;
    height: 13em;

    img {
        height: 10em;
    }
}

.poster-parent {
    display: grid;
    background-color: black;
    justify-items: center;
    align-items: center;
}

.description {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}

.video-player-grid {
    display: grid;
    align-items: center
}