/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@use './assets/custom-m3-theme.scss' as customTheme;

/*Material Design 3*/
// @import '../node_modules/@angular/material/prebuilt-themes/azure-blue.css';
// @import '../node_modules/@angular/material/prebuilt-themes/rose-red.css';
// @import '../node_modules/@angular/material/prebuilt-themes/cyan-orange.css';
// @import '../node_modules/@angular/material/prebuilt-themes/magenta-violet.css';

/*Material Design 2*/
// @import '../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css';
// @import '../node_modules/@angular/material/prebuilt-themes/indigo-pink.css';
// @import '../node_modules/@angular/material/prebuilt-themes/pink-bluegrey.css';
// @import '../node_modules/@angular/material/prebuilt-themes/purple-green.css';

@include mat.core();

// $theme: mat.define-theme((
//   color: (
//     theme-type: light,
//     primary: mat.$azure-palette,
//     tertiary: mat.$blue-palette
//   ),
//   density: (
//     scale: 0,
//   )
// ));

:root {
    // @include mat.all-component-themes($theme);
    @include mat.all-component-themes(customTheme.$light-theme);
    @include mat.tooltip-overrides((
        container-color: white,
        supporting-text-color: black,
      ));
  }


* {
    // border: 1px solid red;
}

html, body { 
    height: 100%;
}
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    background-color: customTheme.$base_background_color;
}
